<html>
    <head>
        <title>Washington DC</title>
        <link rel"stylesheet" type "text/css" href = "/css/dc.css">
    </head>
    <body>
        <style>
            body {
  background-image: url("https://www.citysegwaytours.com/uploads/3136/DC%20night_hero.png");
    color: white;
  font-family: helvetica;
}

        </style>
        <center>
            <h1>You got: Washington DC</h1>
            <style>
                h1 {
  font-size:450%;
  font-family: helvetica;
  letter-spacing: 2px;
  color: white;
}
            </style>
<h2>You should visit Washington DC! Washington DC has great historical displays like many cool museums. You could visit the White House and just learn much more about our government systems. Washington DC is also a more calm and educational vacation that you can take at your own pace.</h2>
<br>
<br>
<h2>Some places you should go to while you're here:</h2>

<style>
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}
</style>


    <p><b><a href="https://www.visitthecapitol.gov/" target="_blank">U.S. Capitol</a></p>
     <p><a href="https://washington.org/DC-guide-to/lincoln-memorial" target="_blank">Lincoln Memorial</a></p>
    <p><a href="https://www.whitehouse.gov/about-the-white-house/tours-events/" target="_blank">The White House</a></p>
    <p><a href="https://airandspace.si.edu/" target="_blank">National Air and Space Museum</a></p>
    <p><a href="https://washington.org/visit-dc/must-see-memorials-monuments-national-mall" target="_blank">National Mall and Veteran Memorials</a></p>
    <p><a href="https://www.nga.gov/visit.html" target="_blank">National Gallery of Art</a></p>
    <p><a href="http://americanhistory.si.edu/visit" target="_blank">National Museum of American History</a></p>
    <p><a href="https://nmaahc.si.edu/" target="_blank">National Museum of African American History and Culture</a></p>
    <br>
    <p><b>Have a great trip!</b></p>
    <style>
        
    p {
  font-size:140%;
  font-family: helvetica;
}
</style>
   <br>
    <br>
    <br>
    <footer>Created by: Javeria Khan, Sydney Chapman, and Kennedy Ferguson</footer>
        </center>
    </body>
</html>
