<!DOCTYPE html>
<html>
    <head>
        <title>Los Angeles</title>
        <link rel"stylesheet" type "text/css" href = "/css/LA.css">
    </head>
    <body>
        <style>
            body {
  background-image: url("http://blog.cercledesvacances.com/wp-content/uploads/2017/12/Plage-los-angeles.jpg");
    color: white;
  font-family: helvetica;
}
        </style>
        <center>
            <h1>You got: Los Angeles</h1>
            <style>
                h1 {
  font-size:450%;
  font-family: helvetica;
  letter-spacing: 2px;
  color: white;
}
            </style>
<h2>You should travel to Los Angeles! You like relaxing, but you also like explore. You'll have lots of fun here at the many beaches, or even shopping at Rodeo Drive. </h2>
<br>
<h2>Some places you should go to while you're here:</h2>

<style>
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}
</style>



          <p><b><a href="http://griffithobservatory.org/" target="_blank">Griffith Observatory</a></p>
            <p><a href="https://www.visitlagunabeach.com/" target="_blank">Laguna Beach</a></p>
                 <p><a href="https://thegrovela.com/" target="_blank">The Grove</a></p>
                      <p><a href="https://www.visitnewportbeach.com/" target="_blank">Newport Beach</a></p>
                    <p><a href="http://rodeodrive-bh.com/" target="_blank">Rodeo Drive</a></p>
                <p><a href="https://santamonicapier.org/" target="_blank">Santa Monica Pier</a></p>
            <p><a href="https://www.venicebeach.com/" target="_blank">Venice Beach</a></p>
<br>
    <p><b>Have a great trip!</b></p>
    <style>
        p {
  font-size:140%;
  font-family: helvetica;
}
    </style>
    <footer>Created by: Javeria Khan, Sydney Chapman, and Kennedy Ferguson</footer>
        </center>
    </body>
</html>