<html>
    <head>
        <title>Miami</title>
        <link rel"stylesheet" type "text/css" href = "/css/miami.css">
    </head>
    <body>
        <style>
            body {
  background-image: url("https://www.fortunebuilders.com/wp-content/uploads/2016/04/miamis-real-estate-market-1024x684.jpg");
    color: white;
  font-family: helvetica;
}
        </style>
        <center>
            <h1>You got: Miami</h1>
            <style>
                h1 {
  font-size:450%;
  font-family: helvetica;
  letter-spacing: 2px;
  color: white;
}
            </style>
<h2>You should pack up and take a trip to Miami. You obviously like to hang out and sometimes even take a break and chill. This beautiful city will give you scenery that's to die for. </h2>
 <br>
<br>
<h2>Some places you should go to while you're here:</h2>

<style>
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}
</style>


  <p><b><a href="http://www.cocowalk.net/" target="_blank">Coco Walk</a></p>
    <p><a href="http://www.miamiandbeaches.com/places-to-see/south-beach-art-deco-district" target="_blank">South Beach</a></p>
   <p><a href="https://www.miamiseaquarium.com/" target="_blank">Miami Seaquarium</a></p>
    <p><a href="http://www.thewynwoodwalls.com/" target="_blank">Wynwood Walls</a></p>
    <p><a href="https://www.jungleisland.com/" target="_blank">Jungle Island</a></p>
    <br>
    <p><b>Have a great trip!</b></p>
    <style>
        p {
  font-size:140%;
  font-family: helvetica;
}
    </style>
         <br>
    <br>
    <br>
    
    <footer>Created by: Javeria Khan, Sydney Chapman, and Kennedy Ferguson</footer>
    </center>
    </body>
</html>