<html>
    <head>
        <title>NYC</title>
        <link rel"stylesheet" type "text/css" href = "/css/nyc.css">
    </head>
    <body>
        <style>
            body {
  background-image: url("https://www.pearlhotelnyc.com/assets/images/home/newyork_city.jpg");
    color: white;
  font-family: helvetica;
}
        </style>
        <center>
            <h1>You got: NYC</h1>
            <style>
                h1 {
  font-size:450%;
  font-family: helvetica;
  letter-spacing: 2px;
  color: white;
}
            </style>
<h2>You should travel to New York City! New York City is a bustling city full of life. If you like high energy places, New York is the place to be. It's great for eploring and seeing lots of different people and things. New York will be a great experience for you!  </h2>
<br>
<br>
<h2>Some places you should go to while you're here:</h2>

<style>
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}
</style>

    <p><b><a href="https://www.centralpark.com" target="_blank">Central Park</a></p>
        <p><a href="https://www.nps.gov/stli/planyourvisit/index.htm" target="_blank">Statue of Liberty</a></p>
         <p><a href="https://www.rockefellercenter.com/" target="_blank">Rockefeller Center</a></p>
            <p><a href="https://www.911memorial.org/visit" target="_blank">National September 11 Memorial & Museum</a></p>
         <p><a href="https://www.timessquarenyc.org/" target="_blank">Times Square</a></p>
        <p><a href="https://www.metmuseum.org/" target="_blank">Metropolitan Museum of Art</a></p>
    <p><a href="https://www.amnh.org/" target="_blank">American Museum of Natural History</a></p>
<br> 
<br>
<p><b>Have a great trip!</b></p>
<style>p {
  font-size:140%;
  font-family: helvetica;
}
</style>
        
         <br>
    <br>
    <br>
    <br>
    <footer>Created by: Javeria Khan, Sydney Chapman, and Kennedy Ferguson</footer>
    </center>s
    </body>
</html>
