
body {
  background-image: url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    color: white;
      font-family: Helvetica;
  font-size:120%;
    letter-spacing: 1px;
    
}

h1 {
  letter-spacing: 5px;
  font-size: 400%;
  
}